body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white
}


/* Large Screens*/
#nav {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    background: beige;
    justify-content: flex-end;
    height: auto;
}
#nav a:hover{
    background:burlywood;
}

#nav a{
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
    display: block;
}

