@import url("https://fonts.googleapis.com/css?family=Jost&effect=fire-animation");

#header {
    background-color: white;
    position: sticky;
    top: 0;
}

#title  {
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 400%;    
    padding: 2%;
    outline: none;
    text-decoration: none;
    color: inherit; 
}

#title a:link, #title a:hover, #title a:active, #title a:visited{
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: white;
}


#content {
    padding: 2%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    
}


/* Large Screens*/
#nav {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0%;
    background: beige;
    justify-content: flex-end;
    height: auto;
    min-width: 300px;
}

/* Medium screens */
@media all and (max-width: 800px) {
    #nav {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }
}

/*small screens*/
@media all and (max-width: 500px) {
    #nav {
        flex-direction: column;
    }
}

#nav a:hover{
    background:burlywood;
}

#nav a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
    display: block;
    text-align: center;
    width: auto;
    flex-grow: 1;
}

